<div class="row d-flex justify-content-center mt-4">
	<div class="col-12 text-center mb-3">
		<h1>Formulario</h1>
	</div>
	
	<div class="col-12 col-md-6">
		<form (ngSubmit)="formulario(form)" #form="ngForm" novalidate class="was-validated">
			<div class="form-group" [ngClass]="{'has-danger':nombre.errors?.required || nombre.errors?.minlength}">
				<label for="">Nombre</label>
				<input 
					type="text" 
					class="form-control"
					name="nombre"
					minlength="5"
					required
					[(ngModel)]="usuario.nombre"
					#nombre="ngModel"
				>
				<div 
					*ngIf="nombre.errors?.required" 
					class="invalid-feedback">
					Este campo esta vacio
				</div>
				<div *ngIf="nombre.errors?.minlength" class="invalid-feedback">
					Este campo debe tener 5 caracateres
				</div>
			</div>
			<div class="form-group" [ngClass]="{'has-danger':nombre.errors?.required || nombre.errors?.minlength}">
				<label for="">Apellidos</label>
				<input 
					type="text" 
					class="form-control"
					name="apellidos"
					minlength="5"
					[(ngModel)]="usuario.apellidos"
					required
					#apellidos="ngModel"
				>
				<div *ngIf="apellidos.errors?.required" class="invalid-feedback">
					Este campo esta vacio
				</div>
				<div *ngIf="apellidos.errors?.minlength" class="invalid-feedback">
					Este campo debe tener 5 caracateres
				</div>
			</div>
			<div class="form-group" [ngClass]="{'has-danger':nombre.errors?.required || nombre.errors?.pattern}">
				<label for="">Correo</label>
				<input 
					type="mail" 
					class="form-control"
					name="mail"
					minlength="5"
					[(ngModel)]="usuario.correo"
					required
					#mail="ngModel"
					pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$"
				>
				<div *ngIf="mail.errors?.required" class="invalid-feedback">
					Este campo esta vacio
				</div>
				<div *ngIf="mail.errors?.pattern" class="invalid-feedback">
					Este campo no es valido de mails
				</div>
			</div>
			<div class="form-group" [ngClass]="{'has-danger':nombre.errors?.required || nombre.errors?.minlength}">
				<label for="">Contraseña</label>
				<input 
					type="password" 
					class="form-control"
					name="contrasena"
					minlength="5"
					[(ngModel)]="usuario.contrasena"
					required
					#contrasena="ngModel"
				>
				<div *ngIf="contrasena.errors?.required" class="invalid-feedback">
					Este campo esta vacio
				</div>
				<div *ngIf="contrasena.errors?.minlength" class="invalid-feedback">
					Este campo debe tener 5 caracateres
				</div>
			</div>
			<button 
				type="submit" 
				class="btn btn-primary" 
				[disabled]="!form.valid">Guardar</button>
		</form>
	</div>
</div>
<div class="row mt-4">
	<div class="col-12 text-center mb-3">
		<h2>Tabla</h2>
	</div>
	<div class="col-12">
		<div class="table-responsive">
			<table class="table table-striped">
			  <thead class="thead-dark">
			    <tr>
			      <th scope="col">Nombre</th>
			      <th scope="col">Apellidos</th>
			      <th scope="col">Correo</th>
			      <th scope="col">Contraseña</th>
			    </tr>
			  </thead>
			  <tbody>
			    <tr *ngFor="let usuario of tabla">
			      <td>{{usuario.nombre}}</td>
			      <td>{{usuario.apellidos}}</td>
			      <td>{{usuario.mail}}</td>
			      <td>{{usuario.contrasena}}</td>
			    </tr>
			  </tbody>
			</table>

		</div>
	</div>
</div>