/* You can add global styles to this file, and also import other style files */
body{
	background: #f9f9f9;
	form{
		background: #ffffff;
		-webkit-box-shadow: 0 0 16px #ccc;
		-moz-box-shadow: 0 0 16px #ccc;
		box-shadow: 0 0 16px #ccc;
		padding: 10px;
		border-radius: 10px;
		.form-group{
			label{
				font-weight: bold;
			}
		}
		
		input{
			background: transparent;
		}
	}
}